# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
__pycache__/
*.py[cod]
*$py.class


# Docker
.docker/

# System
.DS_Store

# Środowisko
env/
.env

# VS Code
.vscode/